.home__container{
    background-color: settings.$background;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    position: relative;
    width: 100%;

    .home__container-info{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link{
        margin-top: 3rem;
        text-decoration: none;
        @include settings.button;
    }
}

@media(max-width:400px){
    .home__container-image{
        display: none;
    }
    .home__container-info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

